{
  "openapi": "3.0.3",
  "info": {
    "title": "Real-time API weather services",
    "description": "Real-time API documentation of weather services",
    "contact": {
      "email": "feedback@data.gov.sg"
    },
    "version": "1.0.11"
  },
  "servers": [
    {
      "url": "https://api-open.data.gov.sg/v2/real-time/api"
    }
  ],
  "paths": {
    "/weather": {
      "get": {
        "summary": "Retrieve the latest lightning observation",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/weather?api=lightning](https://api-open.data.gov.sg/v2/real-time/api/weather?api=lightning)**\n\n<br/>\n\n- Updated multiple times throughout the day\n<br/>\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2025-01-16` or `?date=2025-01-16T23:59:00`\n",
        "parameters": [
          {
            "in": "query",
            "name": "api",
            "description": "Set the value to `lightning` to fetch lightning records",
            "schema": {
              "type": "string"
            },
            "example": "lightning",
            "required": true
          },
          {
            "in": "query",
            "name": "date",
            "description": "SGT date (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS). Example: 2025-01-16 or 2025-01-16T23:59:00",
            "example": "2025-02-11T08:31:00.000Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lightning Observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "datetime": {
                                "type": "string",
                                "example": "2025-02-07T20:38:00+08:00",
                                "description": "Time the observasation was issued by NEA"
                              },
                              "item": {
                                "type": "object",
                                "description": "A weather observation for the lightning",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Type of the weather information (`observation` or `forecast`). Lightning is always `observation.",
                                    "example": "observation"
                                  },
                                  "isStationData": {
                                    "type": "boolean",
                                    "description": "Indicates whether the weather information includes station information.",
                                    "example": false
                                  },
                                  "readings": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "location": {
                                          "type": "object",
                                          "properties": {
                                            "latitude": {
                                              "type": "string",
                                              "description": "The latitude coordinate of the location, represented as a string.",
                                              "example": "1.1700"
                                            },
                                            "longitude": {
                                              "type": "string",
                                              "description": "The longitude coordinate of the location, represented as a string.",
                                              "example": "103.8718"
                                            }
                                          }
                                        },
                                        "datetime": {
                                          "type": "string",
                                          "description": "The date and time when the weather reading was taken, formatted in ISO 8601.",
                                          "example": "2025-02-07T19:16:44.004+08:00"
                                        },
                                        "text": {
                                          "type": "string",
                                          "description": "A textual description of the weather event, which can include types such as \"Cloud to Cloud\" or \"Cloud to Ground.\"",
                                          "example": "Cloud to Cloud"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "The type of lightning event, which can be either \"C\" for Cloud to Cloud or \"G\" for Cloud to Ground.",
                                          "example": "C"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "updatedTimestamp": {
                                "type": "string",
                                "description": "Time of acquisition of data from NEA",
                                "example": "2025-02-07T20:40:12+08:00"
                              }
                            }
                          }
                        },
                        "paginationToken": {
                          "type": "string",
                          "description": "Token to retrieve next page if exists",
                          "example": "b2Zmc2V0PTEwMA== (you will see this token only if next page exists)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2025-02-01) or YYYY-MM-DDTHH:mm:ss (2025-02-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}